@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050a14;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050a14;
}

::-webkit-scrollbar-thumb {
  background: #3a7bd5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00d2ff;
}